<div class="container">
    <div class="card mb-3">
        <img src="../public/assets/img/pets-lineup-lg.png" class="card-img-top" alt="...">
        <div class="card-body text-center">
            <p class="card-text">
                <a href="../public/forum.html">Forum</a> | <a href="http://github.com/napsche/Project2">GitHub Repo</a>

            </p>
        </div>
    </div>
</div>