<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="card-img-top" src="assets/images/logo.png" alt="logo">
        </div>
        <div class="col-md-6">
            <div class="panel panel-default justify-content-center">
                <div class="panel-heading" id="rightside"><strong>Find Your Best Friend!</strong></div>
                <div class="panel-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="pet">Pet Type</label>
                                <input type="text" class="form-control" id="pet">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="location">Location</label>
                                <input type="text" class="form-control" id="location">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="gender">Gender</label>
                                <select id="gender" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="age">Age</label>
                                <select id="age" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>Young</option>
                                    <option>Adult</option>
                                    <option>Senior</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Go Fetch!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>